body
{
	font-family: Arial, Sans-Serif;
	font-size: small;
}

a
{
	color: #000066;
	text-decoration: none;
}

table
{
	padding: 0px;
	border-style: none;
	border-spacing: 0px;
	width: 100%;
}

img
{
	border-style: none;
}

#cse-search-box input[type="text"]
{
	width: 16em;
	max-width: 40vw;
}
